---
import { Icon } from "astro-icon/components";
---
<footer>
    <div class="flex justify-between items-center py-3 px-10 w-full">
        <img class="w-10 h-10"
             src="/images/logo.jpg" alt="CEBE Santa Isabel" />
        <nav class="flex gap-10">
            <a href="/">Inicio</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/infraestructura">Infraestructura</a>
            <a href="/contacto">Contacto</a>
        </nav>
        <button class="button border-1 rounded-xl px-10 py-2 text-white bg-[#ff9d01]">
            Contáctanos
        </button>
    </div>
    <div class="flex justify-between gap-4 px-10">
        <p>@copyright swing co 2025. ALL Rights Reserved</p>
        <div class="flex gap-4">
            <div class="rounded-full bg-[#277c72] p-3">
                <Icon name="facebook" class="w-5 h-5 text-white"/>
            </div>
            <div class="rounded-full bg-[#277c72] p-3">
                <Icon name="instagram" class="w-5 h-5 rounded-full text-white bg-[#277c72]"/>
            </div>
            <div class="rounded-full bg-[#277c72] p-3">
                <Icon name="x" class="w-5 h-5 rounded-full text-white bg-[#277c72]" />
            </div>

        </div>
    </div>
</footer>