---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import ContentWidth from "./ContentWidth.astro";
---

<footer>
  <ContentWidth>
    <div
      class="flex flex-col md:flex-row justify-center md:justify-between items-center pt-5 px-10 w-full"
    >
      <Image
        src="/logo.jpg"
        alt="Logo del CEBE Santa Isabel"
        width="200"
        height="150"
        loading="lazy"
        class="w-10"
      />
      <nav>
        <ul
          class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3 md:gap-10 py-5 md:py-0"
        >
          <li><a href="/">Inicio</a></li>
          <li><a href="/about">Nosotros</a></li>
          <li><a href="/infrastructure">Infraestructura</a></li>
          <li><a href="/educational-proposal">Propuesta Educativa</a></li>
        </ul>
      </nav>
      <a
        href="#"
        class="button border-1 rounded-xl px-10 py-2 text-white bg-[#ff9d01]"
      >
        Contáctanos
      </a>
    </div>

    <div
      class="flex flex-col-reverse md:flex-row justify-center md:justify-between items-center gap-4 py-5 px-10"
    >
      <p class="text-center">Copyright © 2025. Hecho con ❤️ Servitec</p>
      <div class="flex gap-4">
        <div class="rounded-full bg-[#277c72] p-3">
          <Icon name="facebook" class="w-5 h-5 text-white" />
        </div>
        <div class="rounded-full bg-[#277c72] p-3">
          <Icon
            name="instagram"
            class="w-5 h-5 rounded-full text-white bg-[#277c72]"
          />
        </div>
        <div class="rounded-full bg-[#277c72] p-3">
          <Icon name="x" class="w-5 h-5 rounded-full text-white bg-[#277c72]" />
        </div>
      </div>
    </div>
  </ContentWidth>
</footer>
