---
import { Image } from "astro:assets";

import ContentWidth from "./ContentWidth.astro";
console.log(Astro.originPathname);
const path = Astro.originPathname;
---

<header>
  <ContentWidth>
    <div class="flex justify-between items-center py-3 px-10 w-full">
      <Image
        src="/logo.jpg"
        alt="Logo del CEBE Santa Isabel"
        width="200"
        height="150"
        loading="eager"
        class="w-10"
      />

      <nav id="menu" class="hidden md:flex">
        <ul class="flex items-center gap-10">
          <li><a href="/">Inicio</a></li>
          <li><a href="/about-us">Nosotros</a></li>
          <li><a href="/infrastructure">Infraestructura</a></li>
          <li><a href="/educational-proposal">Propuesta Educativa</a></li>
        </ul>
      </nav>

      <div class="hidden md:block">
        <a href="/contact" class="button border-1 rounded-xl p-3">
          Contáctanos
        </a>
      </div>

      <button id="menu-btn" class="md:hidden focus:outline-none">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>

    <nav
      id="mobile-menu"
      class="md:hidden hidden flex-col items-center gap-2 bg-red-500"
    >
      <ul class="w-full text-center">
        <li>
          <a
            href="/"
            class:list={[
              "w-full block py-2",
              {
                "text-white bg-black": path === "/",
              },
            ]}>Inicio</a
          >
        </li>
        <li>
          <a
            href="/about-us"
            class:list={[
              "w-full block py-2",
              {
                "text-white bg-black": path === "/about-us",
              },
            ]}>Nosotros</a
          >
        </li>
        <li>
          <a
            href="/infrastructure"
            class:list={[
              "w-full block py-2",
              {
                "text-white bg-black": path === "/infrastructure",
              },
            ]}>Infraestructura</a
          >
        </li>
        <li>
          <a
            href="/proposal"
            class:list={[
              "w-full block py-2",
              {
                "text-white bg-black": path === "/proposal",
              },
            ]}>Propuesta Educativa</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class:list={[
              "w-full block py-2",
              {
                "text-white bg-black": path === "/contact",
              },
            ]}>Contáctanos</a
          >
        </li>
      </ul>
    </nav>
  </ContentWidth>
</header>

<script>
  const btn = document.getElementById("menu-btn") as HTMLButtonElement;
  const mobileMenu = document.getElementById("mobile-menu") as HTMLElement;

  btn.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
    mobileMenu.classList.toggle("flex");
  });
</script>
