---
import ButtonLink from "./ButtonLink.astro";
---

<header class="flex flex-col justify-between items-center py-3 px-10 w-full">
  <img
    class="w-10 h-10"
    src="/logo.png"
    alt="Logo del colegio CEBE Santa Isabel"
  />
  <nav class="flex gap-10">
    <a href="/nosotros">Nosotros</a>
    <a href="/infraestructura">Infraestructura</a>
    <a href="/contacto">Contacto</a>
  </nav>
  <ButtonLink link="/" light>Contáctanos</ButtonLink>
</header>
