---
---
<header class="flex justify-between items-center py-3 px-10 w-full">
    <img class="w-10 h-10"
      src="/images/logo.jpg" alt="CEBE Santa Isabel" />
    <nav class="flex gap-10">
        <a href="/">Inicio</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/infraestructura">Infraestructura</a>
        <a href="/contacto">Contacto</a>
    </nav>
    <button class="button border-1 rounded-xl p-3">
        Contáctanos
    </button>
</header>