---
import ContentWidth from "../components/ContentWidth.astro";
import { Image } from "astro:assets";

const data = [
  {
    title: "Misión",
    description:
      "Brindamos una educación inclusiva que forma personas íntegras, independientes y comprometidas con el bienestar social.",
    image: "/images/mission-image.jpeg",
  },
  {
    title: "Visión",
    description:
      "Ser una institución que forma ciudadanos creativos e íntegros, capaces de transformar positivamente su entorno.",
    image: "/images/vision-image.jpeg",
  },
];
---

<section class="py-20 bg-gradient-to-br from-white via-blue-50 to-white">
  <ContentWidth>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-10 items-center mb-16">
      <div class="md:col-span-5">
        <h2 class="text-4xl md:text-5xl font-black leading-snug drop-shadow-md">
          Compromiso con la Formación Integral
        </h2>
      </div>
      <div class="hidden md:flex md:col-span-2 justify-center">
        <Image
          src="/images/flecha.png"
          width="600"
          height="400"
          alt="Decoración en forma de flecha"
          class="h-16 animate-bounce-slow opacity-80"
        />
      </div>
      <div class="md:col-span-5">
        <p class="text-md md:text-lg text-gray-700 leading-relaxed">
          En el <strong class="text-orange-500">Colegio CEBE</strong>, guiamos a nuestros estudiantes hacia una formación completa, combinando excelencia académica con valores humanos. Preparamos a cada niño y niña para afrontar los desafíos del mañana con conocimiento, empatía y propósito.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
      {data.map((item) => (
        <div class="relative">
          <div class="bg-gray-100 rounded-t-2xl overflow-hidden justify-items-center ">
            <img
              src={item.image}
              alt={item.title}
              class="w-[90%] h-60 my-6 object-cover"
            />
          </div>
          <div class="px-6 p-2 rounded-b-2xl bg-gray-100 xl:w-[35em]">
            <h3 class="text-2xl font-bold text-orange-500 mb-4">
              {item.title}
            </h3>
            <p class="text-gray-700 leading-relaxed">{item.description}</p>
            <p
              class="xl:absolute z-30 bottom-3 right-1 p-5 flex-1/4 rounded-xl bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="hidden xl:block w-12 h-12 text-orange-500"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path d="M4 3a1 1 0 00-1 1v6a1 1 0 001 1h1v5a3 3 0 006 0h2a3 3 0 006 0h1a1 1 0 100-2h-1V4a1 1 0 00-1-1H4zm12 10V5h2v8h-2zm-4 0V5h2v8h-2zM6 5h2v8H6V5zm0 10a1 1 0 112 0 1 1 0 01-2 0zm8 0a1 1 0 112 0 1 1 0 01-2 0z" />
              </svg>
            </p>
          </div>
        </div>
      ))}
    </div>
  </ContentWidth>
</section>
