---
import GalleryCard from "../components/GalleryCard.astro";
import ContentWidth from "../components/ContentWidth.astro";

const data = [
  {
    videoId: "BU8lLj4PgZY",
    title: "Donaciones",
    description: "Donación de material didáctico al CEBE 'SANTA ISABEL'",
  },
  {
    videoId: "F7Vs5fUUYio",
    title: "Danza",
    description: "Contradanza del CEBE Santa Isabel",
  },
  {
    videoId: "Nqwgl7wVo4w",
    title: "Inauguración",
    description: "Inauguración salón multisensorial CEBE Santa Isabel",
  },
];
---

<section>
  <ContentWidth>
    <div class="flex flex-col md:flex-row items-center md:items-start gap-10 mt-20">
      <div class="md:basis-3/7 text-center md:text-left">
        <h1 class="text-4xl sm:text-5xl lg:text-6xl font-extrabold text-black leading-tight animate-fade-in">
          Nuestra Galeria
        </h1>
      </div>

      <div class="md:basis-1/7 flex justify-center md:justify-start">
        <img src="/images/flecha.png" alt="" class="h-16 md:h-20 animate-bounce-slow" />
      </div>

      <div class="md:basis-3/7 text-center md:text-left">
        <p class="text-base sm:text-lg text-gray-700 leading-relaxed animate-fade-in delay-100">
          Descubre momentos inolvidables que representan el espíritu y la
          dedicación de nuestra comunidad educativa.
        </p>
      </div>

    </div>
    <div
      class="relative py-24 px-0 sm:px-8 md:px-16 lg:px-24 overflow-hidden text-gray-900"
    >
      <div
        class="relative z-10 grid grid-cols-[repeat(auto-fit,minmax(320px,1fr))] gap-10 lg:gap-28 place-items-center"
      >
        {
          data.map((d) => (
            <GalleryCard
              videoId={d.videoId}
              title={d.title}
              description={d.description}
            />
          ))
        }
      </div>
    </div>
  </ContentWidth>
</section>
<style>
  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
      opacity: 0.2;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.3;
    }
  }

  .animate-pulse {
    animation: pulse 8s ease-in-out infinite;
  }

  .bg-[#cddafd] {
    background-color: #cddafd;
  }
  .bg-[#b3e6cc] {
    background-color: #b3e6cc;
  }
  .bg-[#004080] {
    background-color: #004080;
  }
</style>
